@font-face{
  font-family: 'Rubik';
  src: url('../fonts/Rubik-VariableFont_wght.ttf')
}

body{
  font-family: 'Rubik','Alibaba Sans','思源黑体' ,'思源黑体 CN' ,'阿里巴巴普惠体','Noto Sans SC','苹方字体', '微软雅黑', sans-serif;
}